{% extends 'assets/base.html'%} {% block content%}
<br />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="lead text-center">Receipt ID: BRM-0{{receipt.id}}0 </h2>
          <h1 class="text-center">BeRealMotors SpareParts Company </h1>
          <p class="lead text-center">********************************************</p>
          <h2 class="text-center">Customer Name: {{ receipt.customers_name | title }}</h2>
          <p class="lead text-center">Date: {{ receipt.date }}</p>
          <p class="lead text-center">Branch: {{ receipt.branch_name }}</p>
          <p class="lead text-center">Contact: {{ receipt.phone_number }}</p>
          <p class="lead text-center">--------------------------------------------</p>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <td><strong>Part Name</strong></td>
                  <td><strong>Part Number</strong></td>
                  <td class="text-xs-center"><strong>Part Quantity</strong></td>
                  <td class="text-xs-right"><strong>Total Bill(Ugx)</strong></td>
                  <td class="text-xs-right"><strong>Amount Paid(Ugx)</strong></td>
                  <td class="text-xs-right">
                    <strong>Pending Payment(UgX)</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-xs-center">{{receipt.item| title}}</td>
                  <td class="text-xs-center">0{{receipt.id| title}}</td>
                  <td class="text-xs-center">{{receipt.quantity }}</td>
                  <td class="text-xs-center">Ugx{{receipt.get_total | title}}</td>
                  <td class="text-xs-right">Ugx{{ receipt.amount_received }}</td>
                  <td class="text-xs-right">Ugx{{ receipt.get_change }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h1 class="text-center" style="color: #394867; font-size:30px;">Thank you for your purchase!</h1>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}